<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Artikel einstellen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav th:replace="nav-fragment"></nav>
<div class="container">
    <div class="m-3"></div>
    <h3>Artikel einstellen</h3>
    <form action="/addproduct" th:action="@{/addproduct}" method="post">
        <div class="form-group">
            <label for="titel">Titel</label>
            <input type="text" class="form-control" id="titel" placeholder="Titel" required th:field="${product.title}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('product.title')}" th:errors="${product.title}">Error</small>
        </div>

        <div class="form-group">
            <label for="description">Beschreibung</label>
            <textarea type="text" class="form-control" id="description" placeholder="Beschreiben Sie Ihren Artikel mit einigen Worten" required th:field="${product.description}"></textarea>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('product.description')}" th:errors="${product.description}">Error</small>
        </div>

        <div class="form-group">
            <label for="cost">Preis</label>
            <input type="text" class="form-control" id="cost" placeholder="Preis" required th:field="${product.price}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('product.price')}" th:errors="${product.price}">Error</small>
        </div>

        <div class="form-group">
            <label for="street">Straße</label>
            <input type="text" class="form-control" id="street" placeholder="Straße" required th:field="${address.street}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('address.street')}" th:errors="${address.street}">Error</small>
        </div>

        <div class="form-group">
            <label for="street">Hausnummer</label>
            <input type="text" class="form-control" id="housenumber" placeholder="Hausnummer" required th:field="${address.housenumber}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('address.housenumber')}" th:errors="${address.housenumber}">Error</small>
        </div>

        <div class="form-group">
            <label for="postcode">Postleitzahl</label>
            <input type="text" class="form-control" id="postcode" placeholder="Postleitzahl" required th:field="${address.postcode}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('address.postcode')}" th:errors="${address.postcode}">Error</small>
        </div>

        <div class="form-group">
            <label for="city">Stadt</label>
            <input type="text" class="form-control" id="city" placeholder="Stadt" required th:field="${address.city}">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('address.city')}" th:errors="${address.city}">Error</small>
        </div>


        <a><button type="submit" name="selling" class="btn btn-warning">Verkaufen</button></a>

    </form>
</div>
</body>
</html>