<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abschlussprojekt Konfliktcenter</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav th:replace="nav-fragment"></nav>
<div class="container">
    <br>
            <div class="card">
                <div class="card-body">
            <h5 class="card-title">Produkt</h5>
            <p class="card-text">
                <span>Verleiher:</span>
                <br>
                <span>Ausleihender:</span>
            </p>
            <a href="#" class="btn btn-primary">Detailansicht</a>
        </div>
        <br>
    </div>
</div>
</body>
</html>