<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LendingRequestRehected</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="nav-fragment"></nav>
    <h1>Leihanfrage abgelehnt</h1>
    <h3>Du hast die Leihanfrage erfolgreich abgelehnt</h3>
    <form action="/lendingrequests" method="get">
        <button type="submit" class="btn btn-success">Zurück zu deinen Ausleihen</button>
    </form>
</body>
</html>