<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Meine Ausleihen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav th:replace="nav-fragment"></nav>

<div class="container">
    <div class="m-3"></div>
    <h3>Angefragte Artikel</h3>
    <div class="row">
        <span th:if="${requestedLendings.isEmpty()}==true">Aktuell liegen keine angefragten Artikel vor.</span>
        <div th:each="lending : ${requestedLendings}" class="card">
            <div class="card-header">
                <span th:text="${lending.product.title}"></span>
            </div>
            <div class="card-body">
                <p>Besitzer: </p>
                <div class="card-text" th:text="${lending.product.owner.username}">
                    Username
                </div>
            </div>
            <div class="card-footer">
                <span th:text="${#dates.format(lending.getStart(), 'dd.MM.yyyy')}"></span>
                <span>bis</span>
                <span th:text="${#dates.format(lending.getEnd(), 'dd.MM.yyyy')}"></span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="m-3"></div>
    <h3>Bestätigte Artikel</h3>
    <div class="row">
        <span th:if="${confirmedLendings.isEmpty()}==true">Aktuell liegen keine bestätigte Artikel vor.</span>
        <div th:each="lending : ${confirmedLendings}" class="card">
            <div class="card-header">
                <span th:text="${lending.product.title}"></span>
            </div>
            <div class="card-body">
                <p>Besitzer: </p>
                <div class="card-text" th:text="${lending.product.owner.username}">
                    Username
                </div>
            </div>
            <div class="card-footer">
                <span th:text="${#dates.format(lending.getStart(), 'dd.MM.yyyy')}"></span>
                <span>bis</span>
                <span th:text="${#dates.format(lending.getEnd(), 'dd.MM.yyyy')}"></span>

                <form th:action="@{/mylendings/return(id=${lending.id})}" method="post">
                    <a><button type="submit" class="btn btn-success">Zurückgeben</button></a>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="m-3"></div>
    <h3>Zurückgegebene Artikel</h3>
    <div class="row">
        <span th:if="${returnedLendings.isEmpty()}==true">Es liegen noch keine zurückgegebene Artikel vor.</span>
        <div th:each="lending : ${returnedLendings}" class="card">
            <div class="card-header">
                <span th:text="${lending.product.title}"></span>
            </div>
            <div class="card-body">
                <p>Besitzer: </p>
                <div class="card-text" th:text="${lending.product.owner.username}">
                    Username
                </div>
            </div>
            <div class="card-footer">
                <span th:text="${#dates.format(lending.getStart(), 'dd.MM.yyyy')}"></span>
                <span>bis</span>
                <span th:text="${#dates.format(lending.getEnd(), 'dd.MM.yyyy')}"></span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="m-3"></div>
    <h3>Konflikte</h3>
    <div class="row">
        <span th:if="${conflictedLendings.isEmpty()}==true">Aktuell gibt es keine Konflikte.</span>
        <div th:each="lending : ${conflictedLendings}" class="card">
            <div class="card-header">
                <span th:text="${lending.product.title}"></span>
            </div>
            <div class="card-body">
                <p>Besitzer: </p>
                <div class="card-text" th:text="${lending.product.owner.username}">
                    Username
                </div>
            </div>
            <div class="card-footer">
                <span th:text="${#dates.format(lending.getStart(), 'dd.MM.yyyy')}"></span>
                <span>bis</span>
                <span th:text="${#dates.format(lending.getEnd(), 'dd.MM.yyyy')}"></span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="m-3"></div>
    <h3>Abgeschlossene Artikel</h3>
    <div class="row">
        <span th:if="${completedLendings.isEmpty()}==true">Es liegen noch keine abgeschlossene Artikel vor.</span>
        <div th:each="lending : ${completedLendings}" class="card">
            <div class="card-header">
                <span th:text="${lending.product.title}"></span>
            </div>
            <div class="card-body">
                <p>Besitzer: </p>
                <div class="card-text" th:text="${lending.product.owner.username}">
                    Username
                </div>
            </div>
            <div class="card-footer">
                <span th:text="${#dates.format(lending.getStart(), 'dd.MM.yyyy')}"></span>
                <span>bis</span>
                <span th:text="${#dates.format(lending.getEnd(), 'dd.MM.yyyy')}"></span>
            </div>
        </div>
    </div>
</div>
<br>
</body>
</html>