<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verleihplattform Meine Produkte</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="nav-fragment"></nav>
    <div class="container">
        <div class="m-3"></div>
        <h1>Meine Produkte</h1>
        <div class="row">
            <p th:if="${gotNoProducts} == true">Keine Produkte vorhanden.</p>
            <div class="card" th:each="product : ${myProducts}">
                <div class="card-header">
                    <p th:text="${product.title}">Mein Produkt Titel</p>
                </div>
                <div class="card-body">
                    <div class="card-text" th:text="${product.description}">Produktbeschreibung</div>
                    <a class="card-footer-item" th:href="@{|~/productdetail/${product.id}|}">Details</a>
                    <a class="card-footer-item" th:href="@{|~/editproduct/${product.id}|}">Editieren</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>