<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Verleihplattform Products Overview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="nav-fragment"></nav>
    <div class="container">
        <div class="m-3"></div>
        <div class="row">
            <div class="card" th:each="product : ${products}">
                <div class="card-header">
                    <p th:text="${product.title}"></p>
                </div>
                <div class="card-body">
                    <div class="card-text" th:text="${product.description}">
                    </div>
                    <a class="card-footer-item" title="" href="#" th:href="@{|~/productdetail/${product.id}|}">Details</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>