<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="UTF-8">
    <title>Verleihplattform Lending Requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="nav-fragment"></nav>
    <div class="container">
        <div class="m-3"></div>
        <h3>Leih Anfragen</h3>
            <div class="card" th:each="lending : ${lendings}">
                <div class="row">
                    <div class="col-md-8">
                        <span th:text="${lending.getBorrower().getUsername()}"></span>
                        <span> möchte das Produkt </span>
                        <span th:text="${lending.getProduct().getTitle()}"></span>
                        <span> von dir ausleihen </span>
                        <span th:text="${lending.getId()}"></span>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <form action="/lendingrequests" method="post">
                                <button type="submit" class="btn btn-success">Approve</button>
                            </form>
                            <div class="m-3"></div>
                            <form th:action="@{/lendingrequests/reject(id=${lending.getId()})}"  method="post">
                                <a><button type="submit" class="btn btn-warning">Reject</button></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div class="container">
        <div class="m-3"></div>
        <h3>History</h3>
        <div class="card" th:each="oldlending : ${oldLendings}">
            <div class="row">
                <div class="col-md-8">
                    <span th:text="${oldlending.getBorrower().getUsername()}"></span>
                    <span> wollte das Produkt </span>
                    <span th:text="${oldlending.getProduct().getTitle()}"></span>
                    <span> von dir ausleihen --> Status: </span>
                    <span th:text="${oldlending.getStatus()}"></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>